/* Загальні налаштування для головного контейнера */

.profile .container {
  display: flex;
  gap: 10px;
  align-items: stretch;
  padding: 10px;
}

/* Ліва частина */
.profile .left {
  display: flex;
  flex-direction: column; 
  width: 50%; 
  gap: 5px; 
}

.profile .card-contenedor2 {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Оформлення картки */
.profile .product-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  gap: 20px;
  overflow: hidden;
}

.profile .product-card img {
  width: 50%;
  object-fit: cover;
}

.profile .product-details {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inder", sans-serif;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
}

/* Кнопка "Accept" */
.profile .accept-btn {
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* Секція з тіпсами */
.profile .Tips {
  background-color: var(--orange); /* Жовтий фон для тіпсів */
  border-radius: 20px;
  padding: 15px;
  width: 100%;
}

.profile .Tips h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile .List {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

.profile .List li {
  margin-bottom: 5px;
}

/* Права частина */
.profile .right {
  background-color: #320C49;
  border-radius: 24px;
  padding: 20px;
  width: 50%; /* Права частина займає 40% ширини */
  color: white;
  align-self: start;
}

.header__right {
  padding: 10px;
  background-color: var(--orange);
  border-radius: 10px;
  color: black;
  text-align: center;
}

.header__right h4{
  color: black;
}

.Content .ranking {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.li__ranking {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #450D5E;
  border-radius: 10px;
  margin-bottom: 5px;
}


@media (max-width: 768px) {
  .profile .container {
    flex-direction: column;
  }

  .profile .left {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    order: 1;
    width: 100%;
    padding-right: 0;
    margin-bottom: calc(1.2em + 2vh);
    text-align: left;
    min-height: 50%;
  }

  .profile .right {
    width: 100%;
    order: 2;
}

